<!-- HEADER -->

<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarController">
    <div id="header1">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Music Store</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/product">
                    <div class="form-group">
                        <input type="text" class="form-control" size="60" placeholder="Search">
                    </div>
                </form>
                <ul ng-if="!logged" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/signin">Sign In</a>
                    </li>
                    <li>
                        <a href="/register">Sign Up</a>
                    </li>
                </ul>
                <ul ng-if="logged" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/profile">{{ loggedUser }}</a>
                    </li>
                    <li>
                        <a href="/" ng-click="logOut()">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>
    <!-- /.container-fluid -->
    <div class="related">
        <div class="container-fluid">
            <div ng-if="productP" class="rProd">
                <ul>
                    <li ng-repeat="name in products.category"><a href="#">{{name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
