<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{product.DescArtigo}}
                <small> Autor: {{product.Autor}} </small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="{{product.ImgURL}}" alt="album">
        </div>

        <div class="col-md-4">
            <h3>Description</h3>
            <p>{{product.Observacoes}}</p>
            <b>Genre: </b>{{product.Familia}}<br>
            <b>Subgenre: </b>{{product.SubFamilia}}
        </div>
        <!--cart-->

        <div class="col-md-2 well">


            <div>
                <h6>PRICE</h6>
                <h3>{{product.PrecoFinal}}€</h3>

                <h6 class="quantity-to-add">QUANTITY</h6>
                <div class="input-group col-md-12">
                                    <span class="input-group-btn">
                                        <button ng-click="changePrice(-1)" type="button" class="quantity-left-minus btn btn-danger btn-number cred"
                                                data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="{{amount}}"
                           min="1" max="100">
                    <span class="input-group-btn">
                                        <button ng-click="changePrice(1)" type="button" class="quantity-right-plus btn btn-success btn-number dblue"
                                                data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                </div>

                <button class="col-md-12 add-to-cart btn btn-success dblue">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"/>
                    Add to cart
                </button>

                <button class="col-md-12 separate-buttons btn btn-info cred">
                    <span class="glyphicon  glyphicon-heart" aria-hidden="true"/>
                    Add to wishlist
                </button>

                <div class="storages-availability">
					<h4 class="list-group-item storages-availability-item lblue">
                        AVAILABILITY
                    </h4>
                    <ul ng-repeat="local in availability" class="list-group">
                        <li class="list-group-item storages-availability-item">
						{{local}}
                            <span class="glyphicon glyphicon-check" aria-hidden="true"/>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12 col-md-12">
            <h3 class="page-header">Related Products</h3>
        </div>

        <div class="container">
            <div class="col-md-12">
                <div class="well">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div ng-repeat="sublist in related" class="item" ng-class="{active:$first}">
                                <div class="row">
                                    <div ng-repeat="relitem in sublist" class="related-item col-sm-3"><a href="product?id={{relitem.CodArtigo}}"><img src="{{relitem.ImgURL}}" alt="Image" class="img-responsive"></a>
                                        <h5 class="related-title">{{relitem.DescArtigo}}</h5>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                        </div>
                        <!--/carousel-inner-->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                    <!--/myCarousel-->
                </div>
                <!--/well-->
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

</body>

</html>