<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio Item
                <small>Item Subheading</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3>Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies,
                justo eu convallis placerat, felis enim.</p>
            <h3>Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>
        <!--cart-->

        <div class="col-md-2 well">


            <div>
                <h6>PRICE</h6>
                <h3> 9.99€</h3>

                <h6 class="quantity-to-add">QUANTITY</h6>
                <div class="input-group col-md-12">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"
                                                data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10"
                           min="1" max="100">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number"
                                                data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                </div>

                <button class="col-md-12 add-to-cart btn btn-success">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"/>
                    Add to cart
                </button>

                <button class="col-md-12 separate-buttons btn btn-info">
                    <span class="glyphicon  glyphicon-heart" aria-hidden="true"/>
                    Add to wishlist
                </button>

                <button class="col-md-12 separate-buttons btn btn-info">
                    <span class="glyphicon  glyphicon-share" aria-hidden="true"/>
                    Share
                </button>

                <div class="storages-availability">

                    <ul class="list-group">

                        <li class="list-group-item storages-availability-item">
                            AVAILABILIY
                            <span class="glyphicon glyphicon-check" aria-hidden="true"/>
                        </li>

                        <li class="list-group-item storages-availability-item">
                            Porto
                            <span class="glyphicon glyphicon-check" aria-hidden="true"/>
                        </li>
                        <li class="list-group-item storages-availability-item">
                            Lisboa
                            <span class="glyphicon glyphicon-check" aria-hidden="true"/>
                        </li>
                        <li class="list-group-item storages-availability-item">
                            Faro
                            <span class="glyphicon glyphicon-check" aria-hidden="true"/>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12 col-md-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

</body>

</html>