<div class="orderHist">
    <h3 class="text-muted">Total of orders: {{totalOrders2}}</h3>
    <ul>
        <li ng-repeat="order in orderList">
            <p id={{order.orderId}}>
                [{{order.orderState}}] Ordered on {{order.date}} with a total of {{order.orderPrice}}€
            <ul>
                <li ng-repeat="prod in order.products">
                    <a href="/product?id={{prod.id}}">[{{prod.quantidade}}] {{prod.name}} for {{prod.price}}€</a>
                </li>
            </ul>
            </p>
        </li>
    </ul>
</div>