<div class="container">
    <div class="row">
        <form class="form-horizontal">
            <fieldset>
				<h3>{{cancro}}</h3>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="name">Code Of Product</label>
                    <div class="col-md-4">
                        <input id="CodArtigo" name="CodArtigo" placeholder="Code of Product" class="form-control input-md" required="" type="text"/>
                    </div>
                </div>

                <div class="form-group" ng-keydown="changeSubmition()">
                    <label class="col-md-1 control-label" for="description">Field to edit</label>
                    <div class="col-md-4">
                        <input id="Campo" name="Campo" placeholder="Field desired to edit" class="form-control input-md" required="" type="text"/>
                    </div>
                </div>
				
				<div class="form-group" id="contentInput">
                    <label class="col-md-1 control-label" for="description">Content</label>
                    <div class="col-md-4">
                        <textarea id="Conteudo" name="Conteudo" placeholder="Desired content!" class="form-control input-md" required=""></textarea>
                    </div>
                </div>
				
                <div class="form-group" id="form1">
                    <div class="col-md-1">
                        <button ng-click="updateProduct()" id="singlebutton" name="singlebutton" class="btn btn-primary">Change</button>
                    </div>
                </div>

            </fieldset>
        </form>
		<form class="form-horizontal" name="myForm">
			<fieldset>
				<div class="form-group" id="imgInput" style="visibility: hidden;">
                    <label class="col-md-1 control-label" for="description">Image Submition</label>
                    <div class="col-md-4">
                        Upload Picture: <input id="pic" type="file" file-model="customer.file" name="file" ngf-accept="'image/*'" required="">
                    </div>
                </div>
				<div class="form-group" id="form2" style="visibility: hidden;">
                    <div class="col-md-1">
                        <button ng-click="updateImage()">Change</button>
                    </div>
                </div>
			</fieldset>
		</form>
    </div>
</div>