<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10" ng-repeat="warehouse in stockList">
            <h4>Warehouse {{warehouse.ArmazemId}}: {{warehouse.Descricao}} in  {{warehouse.Localidade}} {{warehouse.Distrito}}</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-repeat="prod in warehouse.Artigos">
                <tr>
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="/product?id={{prod.CodArtigo}}"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" > </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/product?id={{prod.CodArtigo}}">{{prod.Observacoes}}</a></h4>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{prod.STKAtual}}</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{prod.PrecoFinal}}€</strong></td>
                    <td class="col-sm-1 col-md-1">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>