<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10" ng-repeat="warehouse in stockList">
            <h4>Warehouse {{warehouse.name}}</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ng-repeat="prod in warehouse.products">
                <tr>
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="/product?id={{prod.id}}"> <img class="media-object" src="{{prod.img}}" > </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/product?id={{prod.id}}">{{prod.name}}</a></h4>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input class="form-control" value="{{prod.stk}}" type="number" min="0" step="1" ng-model="prod.stk">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{prod.price}}€</strong></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn" ng-click="updateStock(prod)">
                            <span class="glyphicon glyphicon-check"></span> Save
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>